body {
    background: rgb(32, 32, 32);
    font: normal 15pt Arial;
}

header {
    color: white;
    text-align: center;
}

section {
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.349);
}
button {
    background: rgb(209, 51, 51);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px;
    margin-left: 40%;
    margin-top: 10px;
    font: normal 15pt Arial;
    cursor: pointer;
}
p#res {
    text-align: center;
    font-size: 15pt;
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}