body {
    background: rgb(32, 32, 32);
    font: normal 15pt Arial;
}

header {
    color: white;
    text-align: center;
}
form {
    margin-left: 15px;
}
section {
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.349);
}
h2 {
    font-weight: 500;
    font-size: 20pt;
}
input#enviar {
    padding: 10px;
    font-size: 12pt;
    border-radius: 10px;
    border: 10%;
    cursor: pointer;
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}