@charset "UTF-8";

:root {
    --cor1: #F2E3D5;
    --cor2: #3CA6A6;
    --cor3: #026773;
    --cor4: #024959;
    --cor5: #012E40;
    --cor6: #4a302d;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Roboto Slab', Georgia, Times New Roman;
}
* {
    margin: 0px;
    padding: 0px;
}
body {
    background-color: var(--cor1);
    font-family: var(--fonte-padrao);
}
header {
    background-image: linear-gradient(to bottom, var(--cor3),var(--cor5));
    min-height: 110px;
    text-align: center;
    padding-top: 40px;
}
header > h1 {
    color: white;
    font-family: var(--fonte-destaque);
    font-size: 3em;
    font-weight: normal;
    padding-bottom: 20px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.26);
}
header > p {
    font-family: var(--fonte-padrao);
    font-size: 1em;
    color: white;
    width: 600px;
    padding-right: 10px;
    padding-left: 10px;
    margin: auto;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.315);
}
nav {
    background-color: var(--cor5);
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.37);
}
nav > a {
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: 0.5s;
}
nav > a:hover {
    background-color: var(--cor3);
    color: var(--cor5);
}
main {
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.411);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
main h1 {
    color: var(--cor6);
    font-family: var(--fonte-destaque);
    font-weight: normal;
    font-size: 1.8em;
}
main h2 {
    font-family: var(--fonte-destaque);
    color: var(--cor5);
    font-size: 1.3em;
    font-weight: normal;
    text-indent: 8px;
    padding: 8px 0px 5px 0px;
}
main p {
    margin: 8px 0px;
    text-align: justify;
    text-indent: 30px;
    font-size: 1em;
    line-height: 1.2em;
}
main strong {
    color: var(--cor4);
    font-weight: bold;
    padding: 2px;
}
main img {
    width: 100%;
    max-width: 600px;
    display: block;
    margin: auto;
}
ul {
    list-style-position: inside;
}
li {
    padding: 5px;
}
footer {
    background-color: var(--cor5);
    color: white;
}

footer > nav > a {
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: lighter;
    transition-duration: 0.5s;
}
ol {
    padding-left: 20px;
}
